<div class="container is-max-desktop">
  <div class="columns">
    <div class="column">
      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" width="100%">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aluno of lista">
            <td>{{aluno.name}}</td>
            <td>
              <div class="buttons">
              <a routerLink="/profile/{{aluno.id}}" class="button is-primary is-normal">Ver Perfil</a>
              <a routerLink="/editar/{{aluno.id}}" class="button is-warning">Editar</a>
              <a routerLink="/excluir/{{aluno.id}}" class="button is-danger">Deletar</a>
            </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
